@import "../../../node_modules/usu-fr-gui-commons/style/_theme-variables.scss";

:host {
  overflow-y: auto;

  ::ng-deep .datatable-header-cell-template-wrap input[type=text] {
    width: 100%;
  }
  .grid-buttons {
    span {
      margin-right: 10px;
      cursor: pointer;

      .svg-inline--fa {
        color:  var(--usu-button-primary-background, #004f9f);
        margin-bottom: 3px;
        font-size: 13px;
      }
    }
  }

  .bottom-grid-buttons {
    margin-top: 10px;
  }

  *:focus, button:focus {
    outline: none;
  }

  .grids-button {
    text-align: center;
    width: 250px;
  }
}

