<app-easy-navbar></app-easy-navbar>
<div fxLayout="row" *ngIf="visible">
  <app-easy-sidenav fxLayout="column"></app-easy-sidenav>
  <div fxLayout="column" fxFlex class="main-content-sc">
    <router-outlet></router-outlet>
  </div>
</div>
<!-- 
<div>
    <usu-toggle [formControl]="orangeThemeControl">Orange Theme</usu-toggle>
  </div>
  <div>
    <usu-form-field>
      <label slot="label">Name</label>
      <usu-input slot="input" [(ngModel)]="currentName"></usu-input>
      <span slot="message">Add the name of a person.</span>
    </usu-form-field>
    <usu-button (click)="addName()">
      <usu-icon type="add" slot="icon-before"></usu-icon>
      Add
    </usu-button>
  </div>
  <div *ngFor="let name of names" class="name-section">
    <usu-avatar [name]="name"></usu-avatar>
    {{name}}
  </div>
   -->