@import "../../../node_modules/usu-fr-gui-commons/style/theme-variables";
@import "../../../node_modules/usu-fr-gui-commons/style/mixins";

:host {
  overflow-y: auto;

  ::ng-deep .datatable-header-cell-template-wrap input[type=text] {
    width: 100%;
  }

  ::ng-deep .ngx-datatable.material .datatable-body .datatable-row-detail {
    background: none;
    padding: 20px 20px 0 20px;
    .ngx-datatable.material {
      box-shadow: none;
    }
  }
  usu-icon.hydrated.ng-star-inserted {
    padding: 3px !important;
  }
  .grid-buttons {
    span {
      margin-right: 10px;
      cursor: pointer;

      .svg-inline--fa {
        color:  var(--usu-button-primary-background, #004f9f);
        margin-bottom: 3px;
        font-size: 12px;
      }
    }
  }
}
