<mat-toolbar>
  <h2>{{dialogTitle | translate}}</h2>
  <div fxFlex="1 1 auto"></div>
  <div class="mat-icon-button" id="close-user-dialog" (click)="closeDialog()" aria-label="Close dialog">
    <usu-icon style="color: white;" type="close" size="regular" class="hydrated"></usu-icon>
  </div>
</mat-toolbar>
<div>
  <mat-expansion-panel [expanded]="openUserDetailPane" style="margin: 0 !important;">
    <mat-expansion-panel-header>
      <h3>{{"ADC.USER.DETAILS" | translate}}</h3>
    </mat-expansion-panel-header>
    <form #userForm="ngForm">
      <div class="tabs-container" style="width: 96% !important;">
        <section class="tab-admin-company" fxLayout="column">
          <div fxLayout="row" class="table-row mat-field-spacing-sc" style="height: 100px!important;">

            
                <usu-form-field fxFlex="50" style="margin-bottom: 0;" [attr.status]="(firstName.errors?.required && firstName.touched) ? 'error' : ''">
                  <label slot="label">{{'LABEL_FIRSTNAME' | translate}}</label>

                  <usu-input slot="input"
                    class="usu-input-active sc-usu-input-h sc-usu-input-s usu-input-filled hydrated usu-input-default"
                    type="text" #firstName="ngModel" [(ngModel)]="user.preferences.firstName" name="firstName"
                    [disabled]="isCreate && creationSuccess" required></usu-input>
                    <span slot="message" [style.visibility]="(firstName.errors?.required && firstName.touched) ? 'visible' : 'hidden'">{{"LABEL_REQUIRED" | translate}}</span>
                </usu-form-field>
               
             

            <div fxFlex="2%"></div>

           
                <usu-form-field fxFlex="50"  [attr.status]="(lastName.errors?.required && lastName.touched) ? 'error' : ''" style="margin-bottom: 0;">
                  <label slot="label">{{'LABEL_LASTNAME' | translate}}</label>

                  <usu-input slot="input"
                    class="usu-input-active sc-usu-input-h sc-usu-input-s usu-input-filled hydrated usu-input-default"
                    type="text" #lastName="ngModel" [(ngModel)]="user.preferences.lastName" name="lastName"
                    [disabled]="isCreate && creationSuccess" required></usu-input>
                    <span slot="message" [style.visibility]="(lastName.errors?.required && lastName.touched) ? 'visible' : 'hidden'">{{"LABEL_REQUIRED" | translate}}</span>
                </usu-form-field>
               
            
          </div>
          <div fxLayout="row" class="table-row mat-field-spacing-sc" style="height: 100px!important;">

        
                <usu-form-field fxFlex="50" style="margin-bottom: 0;" [attr.status]="((login.errors?.required && login.touched) || (login.errors?.pattern && login.touched)) ? 'error' : ''">
                  <label slot="label">{{'LABEL_LOGIN' | translate}}</label>
                  <usu-input slot="input"
                    class="usu-input-active sc-usu-input-h sc-usu-input-s usu-input-filled hydrated usu-input-default"
                    type="text" #login="ngModel" [(ngModel)]="user.username" name="login"
                    [disabled]="!isCreate || (isCreate && creationSuccess)" pattern="^[a-z0-9._%-]+$" required>
                  </usu-input>
                  <span slot="message" [style.visibility]="(login.errors?.required && login.touched) ? 'visible' : 'hidden'">{{"LABEL_REQUIRED" | translate}}</span>
                  <span slot="message"[style.visibility]="(login.errors?.pattern && login.touched) ? 'visible' : 'hidden'">{{"LABEL_LOWER_CASE_ERROR" | translate}}</span> 
                </usu-form-field>
                <!-- <span class="error-field"
                  *ngIf="(login.errors?.required && login.touched)">{{"LABEL_REQUIRED" | translate}}</span>
                <span class="error-field"
                  *ngIf="(login.errors?.pattern && login.touched)">{{"LABEL_LOWER_CASE_ERROR" | translate}}</span> -->

    
            <div fxFlex="2%"></div>

                <usu-form-field fxFlex="50" [attr.status]="((email.errors?.required && email.touched) || (email.errors?.pattern && email.touched )) ? 'error' : ''" style="margin-bottom: 0;">
                  <label slot="label">{{'LABEL_EMAIL' | translate}}</label>
                  <usu-input slot="input"
                    class="usu-input-active sc-usu-input-h sc-usu-input-s usu-input-filled hydrated usu-input-default"
                    type="text" #email="ngModel" [(ngModel)]="user.preferences.email" name="email"
                    [disabled]="isCreate && creationSuccess" [pattern]="regexEmail" required></usu-input>
                    <span slot="message"[style.visibility]="(email.errors?.required &&  email.touched)? 'visible' : 'hidden'">{{"LABEL_REQUIRED" | translate}}</span>
                    <span slot="message"[style.visibility]="(email.errors?.pattern && email.touched) ? 'visible' : 'hidden'">{{"LABEL_EMAIL_ERROR" | translate}}</span> 
                
                  </usu-form-field>
           
          </div>
  
          <div fxLayout="row" class="table-row mat-field-spacing-sc" *ngIf="isCreate" style="height: 100px!important;">

            
                <usu-form-field fxFlex="50" [attr.status]="((new_password.errors?.required && new_password.touched) || (new_password.errors?.pattern && new_password.touched )) ? 'error' : ''"  style="margin-bottom: 0;">
                  <label slot="label">{{'LABEL_PASSWORD' | translate}}</label>
                  <usu-input slot="input"
                    class="usu-input-active sc-usu-input-h sc-usu-input-s usu-input-filled hydrated usu-input-default"
                    type="password" #new_password="ngModel" [(ngModel)]="user.preferences.password"
                    [pattern]="regexPassword" name="new_password" [disabled]="isCreate && creationSuccess" required>
                  </usu-input>
                  <span slot="message"[style.visibility]="(new_password.errors?.required &&  new_password.touched)? 'visible' : 'hidden'">{{"LABEL_REQUIRED" | translate}}</span>
                  <span slot="message"[style.visibility]="(new_password.errors?.pattern && new_password.touched) ? 'visible' : 'hidden'">{{"ERROR_PASSWORD_FORMAT" | translate}}</span> 
                </usu-form-field>


             
            <div fxFlex="2%"></div>

   
                <usu-form-field fxFlex="50" style="margin-bottom: 0;" [attr.status]="((passwordConfirm.errors?.required && passwordConfirm.touched) || (passwordConfirm.errors?.pattern && passwordConfirm.touched))? 'error' : '' "  >
                  <label slot="label">{{'LABEL_PASSWORD_CONFIRM' | translate}}</label>
                  <usu-input slot="input"
                    class="usu-input-active sc-usu-input-h sc-usu-input-s usu-input-filled hydrated usu-input-default"
                    type="password" #passwordConfirm="ngModel" [(ngModel)]="user.preferences.passwordConfirm"
                    [pattern]="user.preferences.password" name="passwordConfirm"
                    [disabled]="isCreate && creationSuccess" required></usu-input>
                    <span slot="message" [style.visibility]="(passwordConfirm.errors?.required &&  passwordConfirm.touched) ? 'visible' : 'hidden'">{{"LABEL_REQUIRED" | translate}}</span>
                   <span slot="message"
                   [style.visibility]="(passwordConfirm.errors?.pattern && passwordConfirm.touched) ? 'visible' : 'hidden'">{{"ERROR_PASSWORD_MATCH" | translate}}</span>
                </usu-form-field>

             
          </div>
     
          <div fxLayout="row" class="table-row mat-field-spacing-sc" style="height: 100px!important;">

                <usu-form-field fxFlex="49" style="margin-bottom: 0;" [attr.status]="(phone.errors?.pattern && phone.touched) ? 'error' : '' " >
                  <label slot="label">{{'LABEL_PHONE' | translate}}</label>
                  <usu-input slot="input"
                    class="usu-input-active sc-usu-input-h sc-usu-input-s usu-input-filled hydrated usu-input-default"
                    type="text" #phone="ngModel" [(ngModel)]="user.preferences.phone" [pattern]="regexPhoneNumber"
                    name="phone" [disabled]="isCreate && creationSuccess" required></usu-input>
                    <span slot="message"
                    [style.visibility]="(phone.errors?.pattern && phone.touched) ? 'visible' : 'hidden'">{{"LABEL_REQUIRED" | translate}}</span>

   
                </usu-form-field>
                
          </div>
        </section>
      </div>
    </form>


    <div fxLayout="column">
      <div *ngIf="sendingData">
        <div class="progress-bar-message">{{"LABEL_CREATING_USER" | translate}}</div>
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
      </div>
      <div fxLayout="row" style="margin-top: 20px; margin-bottom: 20px">
        <div fxFlex></div>
        <usu-button [disabled]="userForm.invalid || sendingData || (isCreate && creationSuccess)"
          (click)="saveUser(user, userForm)" class="hydrated smartcollect"> {{"LABEL_SAVE" | translate}}</usu-button>
      </div>
    </div>
  </mat-expansion-panel>
  <mat-expansion-panel [expanded]="openProfilePane" [disabled]="profilesPaneDisabled" style="margin: 0 !important;">
    <mat-expansion-panel-header>
      <h3>{{"LABEL_PROFILES" | translate}}</h3>
    </mat-expansion-panel-header>
    <br>
    <div fxLayout="row" easy-double-list style="padding: 0 24px 24px!important;">
      <div fxFlex>
        <div>
          <usu-button [disabled]="profiles.length === 0" (click)="addAllUserProfiles()" aria-label="add all profiles"
            class="hydrated smartcollect select-all-button">{{"LABEL_ADD_ALL_PROFILES" | translate}}</usu-button>
        </div>
        <br>

        <usu-card class="easy-light-table box">
          <span slot="title" class="easy-light-table-header">
            {{"LABEL_AVAILABLE" | translate}}
          </span>
          <div slot="content" easy-double-list-left class="easy-light-table-rows" scroll-to-bottom="profiles.length">
            <div fxLayout="row" *ngFor="let profile of profiles; index as index" class="easy-light-table-row"
              [ngClass]="{'odd': index%2===0}">
              <div fxFlex>{{profile.name}}</div>
              <div fxFlex="10" class="mat-icon-button" (click)="addUserProfile(profile)">
                <usu-icon type="angle-angle-right" size="regular" class="hydrated"></usu-icon>
              </div>
            </div>
          </div>
        </usu-card>
      </div>
      <div fxFlex="20px"></div>
      <div fxFlex>

        <div>
          <usu-button
            [disabled]="userProfiles.length === 0 || (userProfiles.length === 1 && userProfiles[0].name === 'Admin')"
            (click)="removeAllUserProfiles()" aria-label="remove all profiles"
            class="hydrated smartcollect select-all-button">{{"LABEL_REMOVE_ALL_PROFILES" | translate}}</usu-button>
        </div>
        <br>


        <usu-card class="easy-light-table associated-profiles box">
          <span slot="title" class="easy-light-table-header">
            {{"LABEL_ASSOCIATED" | translate}}
          </span>
          <div slot="content" easy-double-list-right class="easy-light-table-rows"
            scroll-to-bottom="userProfiles.length">
            <div fxLayout="row" *ngFor="let prof of userProfiles; index as index" class="easy-light-table-row"
              [ngClass]="{'odd': index%2===0}">

              <div fxFlex="10" class="mat-icon-button" (click)="removeUserProfile(prof)">
                <usu-icon type="angle-angle-left" size="regular" class="hydrated"></usu-icon>
              </div>
              <div fxFlex class="easy-light-table-cell-right">{{prof.name}}</div>
            </div>
          </div>
        </usu-card>
      </div>
    </div>

  </mat-expansion-panel>
</div>
<br>
<div fxLayout="row" class="bottom-button-bar">
  <span fxFlex></span>
  <usu-button [disabled]="sendingData" [mat-dialog-close] aria-label="Cancel" class="hydrated smartcollect">
    {{"LABEL_CLOSE" | translate}}</usu-button>

</div>