<app-breadcrumb></app-breadcrumb>

<div class="page-container">
  <div class="easy-page action-list" [ngClass]="{displayed : displayed}" fxLayout="column">
    <div class="grid-container">
      <app-grid-settings [component]="this" [columns]="'columns'" [rowsLength]="rows.length" [gridIdx]="grid.apiIdx"
        [fileName]="'collector-schedule'"></app-grid-settings>
      <ngx-datatable #grid class='material striped table-height-double-sc' [rows]="rows" [columnMode]="'force'"
        [columns]="columns" [headerHeight]="easyGrid.getHeaderHeight()" [footerHeight]="0"
        [rowHeight]="easyGrid.getLineHeight()" [scrollbarV]="true" [scrollbarH]="false" [selectionType]="'single'"
        [loadingIndicator]="isLoading" [sorts]="[{prop: 'name', dir: 'asc'}]" [externalSorting]="false"
        [messages]="easyGrid.getTableMessages()" [reorderable]="true">
        <ng-template #idxTpl let-rowIndex="rowIndex + 1" let-row="row" ngx-datatable-cell-template>
          {{rowIndex}}
        </ng-template>

        <ng-template #hdrTpl let-column="column" let-sort="sortFn" let-sortDir="sortDir" ngx-datatable-header-template>
          <div class="datatable-header-cell-wrapper">
            <span class="datatable-header-cell-label draggable" (click)="sort()">
              {{column.name}}
            </span>
          </div>
          <input type='text' style="width: 100%;" (keyup)='updateFilter($event, column)' />
        </ng-template>

        <ng-template #cellTpl let-row="row" let-value="value" ngx-datatable-cell-template>
          <div (click)="onSelectRow(row)"> {{ value }} </div>
        </ng-template>
      </ngx-datatable>
    </div>
  </div>

  <div style="margin: 15px;">
    <h3>{{ 'LABEL_SCHEDULE_PARAMETERS' | translate }} {{ currentCollectorName }}</h3>
  </div>
  <div style="background-color: white; margin: 15px; padding: 20px; border-radius: 5px;">
    <div class="accordion-div content-container">
      <mat-accordion multi="true" class="vAccordion--default">
        <form [formGroup]="scheduleGroup">
          <div class="">
            <usu-radio-button-group fxLayout="column" name="formatSelect" formControlName="formatSelect"
              style="width: 100%" (usuChange)="changeFormat($event)">

              <!-- Format Minute -->
              <div fxLayout="row">
                <div fxLayout="row">



                  <usu-radio-button [value]="FORMAT_MINUTE" [disabled]="disableButtons" style="margin-right: 12px;">
                    {{label_format_minute0}}
                  </usu-radio-button>
              
                      <usu-form-field fxFlex style="line-height: 15px;width: 49px;margin-bottom: 3px!important"
                      [attr.status]="((scheduleGroup.controls.fmi_minute.invalid) && (scheduleGroup.controls.fmi_minute.touched)) ? 'error' : '' ">
                        <select slot="input" formControlName="fmi_minute" class="usu-input-active sc-usu-input-h sc-usu-input-s usu-input-filled hydrated usu-input-default"
                          style="width: 71px; padding: 4px;">
                          <option *ngFor="let minute of minutesList" [value]="minute+1">{{ minute + 1 }}</option>
                        </select>
                        <span slot="message"
                        [style.visibility]="((scheduleGroup.controls.fmi_minute.invalid) && (scheduleGroup.controls.fmi_minute.touched)) ? 'visible' : 'hidden'">{{getErrorMessage()}}</span>  
                      </usu-form-field>
                     


                  <mat-label class="monthly-label" style="width: 175px;">{{label_format_minute1}}</mat-label>


                      <usu-form-field style="line-height: 15px;width: 49px;margin-bottom: 3px!important;"
                      [attr.status]="((scheduleGroup.controls.fmi_startHour.invalid) && (scheduleGroup.controls.fmi_startHour.touched)) ? 'error' : '' ">
                        <select slot="input" formControlName="fmi_startHour" (change)="fmiChangeMinHour($event)"
                          class="usu-input-active sc-usu-input-h sc-usu-input-s usu-input-filled hydrated usu-input-default" style="width: 71px; padding: 4px;">
                          <option *ngFor="let hour of hoursList" [value]="hour">{{ hour }}</option>
                        </select>
                        <span slot="message"
                        [style.visibility]="((scheduleGroup.controls.fmi_startHour.invalid) && (scheduleGroup.controls.fmi_startHour.touched)) ? 'visible' : 'hidden'">{{getErrorMessage()}}</span>
                      </usu-form-field>
                      
                   


                  <mat-label class="monthly-label">{{label_format_minute2}}</mat-label>


                      <usu-form-field style="line-height: 15px;width: 35px;;margin-bottom: 3px!important;"
                      [attr.status]="((scheduleGroup.controls.fmi_endHour.invalid )&& (scheduleGroup.controls.fmi_endHour.touched)) ? 'error' : '' ">
                        <select slot="input" formControlName="fmi_endHour" class="usu-input-active sc-usu-input-h sc-usu-input-s usu-input-filled hydrated usu-input-default"
                          style="width: 71px; padding: 4px;">
                          <option *ngFor="let hour of hoursList" [value]="hour">{{ hour }}</option>
                        </select>
                        <span slot="message"
                        [style.visibility]="((scheduleGroup.controls.fmi_endHour.invalid )&& (scheduleGroup.controls.fmi_endHour.touched)) ? 'visible' : 'hidden'">{{getErrorMessage()}}</span>
                      </usu-form-field>
           
                   



                  <mat-label class="monthly-label">{{label_format_minute3}}</mat-label>
                </div>
                <div fxLayout="row">
                  <div [hidden]="scheduleGroup.get('formatSelect').value !== FORMAT_MINUTE" *ngFor="let day of fmi_week"
                    class="day-value">
                    <span *ngIf="!day.isSelected" class="days-in-week"
                      (click)="changeDaysInWeek(day.identifier, FORMAT_MINUTE)">
                      {{ day.value }}
                    </span>
                    <span *ngIf="day.isSelected" class="days-in-week-selected"
                      (click)="changeDaysInWeek(day.identifier, FORMAT_MINUTE)">
                      {{ day.value }}
                    </span>
                  </div>
                  <div [hidden]="scheduleGroup.get('formatSelect').value === FORMAT_MINUTE" *ngFor="let day of fmi_week"
                    class="day-value">
                    <span class="days-in-week-disabled"> {{ day.value }}</span>
                  </div>
                  <div fxFlex></div>
                </div>
              </div>
              <div style="border-bottom: 1px solid dimgray; margin-bottom: 15px; margin-top: 15px;"></div>
              <!-- Format Hour -->
              <div fxLayout="row">
                <div fxLayout="row">

                  <usu-radio-button [value]="FORMAT_HOUR" [disabled]="disableButtons" style="margin-right: 12px;">
                    {{label_format_hour0}}
                  </usu-radio-button>

            
                      <usu-form-field style="line-height: 15px;width: 47px;margin-bottom: 3px!important;"
                      [attr.status]="((scheduleGroup.controls.fho_hour.invalid) && (scheduleGroup.controls.fho_hour.touched)) ? 'error' : '' ">
                        <select slot="input" formControlName="fho_hour" class="usu-input-active sc-usu-input-h sc-usu-input-s usu-input-filled hydrated usu-input-default"
                          style="width: 71px; padding: 4px;">
                          <option *ngFor="let hour of sixHoursList" [value]="hour+1">{{ hour + 1}}</option>
                        </select>
                        <span slot="message"
                        [style.visibility]="((scheduleGroup.controls.fho_hour.invalid) && (scheduleGroup.controls.fho_hour.touched)) ? 'visible' : 'hidden'">{{getErrorMessage()}}</span>
                      </usu-form-field>
                    
                    


                  <mat-label class="monthly-label" style="width: 175px;">{{label_format_hour1}}</mat-label>

        
                      <usu-form-field style="line-height: 15px;width: 49px;margin-bottom: 3px!important;"
                      [attr.status]="((scheduleGroup.controls.fho_startHour.invalid) && (scheduleGroup.controls.fho_startHour.touched)) ? 'error' : '' ">
                        <select slot="input" formControlName="fho_startHour" (change)="fhoChangeMinHour($event)"
                          class="usu-input-active sc-usu-input-h sc-usu-input-s usu-input-filled hydrated usu-input-default" style="width: 71px; padding: 4px;">
                          <option *ngFor="let hour of hoursList" [value]="hour">{{ hour }}</option>
                        </select>
                        <span slot="message"
                        [style.visibility]="((scheduleGroup.controls.fho_startHour.invalid) && (scheduleGroup.controls.fho_startHour.touched)) ? 'visible' : 'hidden'">{{getErrorMessage()}}</span>
                      </usu-form-field>
             
                   

                  <mat-label class="monthly-label">{{label_format_hour2}}</mat-label>

                  
                      <usu-form-field style="line-height: 15px;width: 49px;margin-bottom: 3px!important;"
                      [attr.status]="((scheduleGroup.controls.fho_endHour.invalid) && (scheduleGroup.controls.fho_endHour.touched)) ? 'error' : '' ">
                        <select slot="input" formControlName="fho_endHour" class="usu-input-active sc-usu-input-h sc-usu-input-s usu-input-filled hydrated usu-input-default"
                          style="width: 71px; padding: 4px;">
                          <option *ngFor="let hour of hoursList" [value]="hour">{{ hour }}</option>
                        </select>
                        <span slot="message"
                        [style.visibility]="((scheduleGroup.controls.fho_endHour.invalid) && (scheduleGroup.controls.fho_endHour.touched)) ? 'visible' : 'hidden'">{{getErrorMessage()}}</span>
                      </usu-form-field>
                      
                   

                  <mat-label class="monthly-label">{{label_format_hour3}}</mat-label>
                </div>
                <div fxLayout="row">
                  <div [hidden]="scheduleGroup.get('formatSelect').value !== FORMAT_HOUR" *ngFor="let day of fho_week"
                    class="day-value">
                    <span *ngIf="!day.isSelected" class="days-in-week"
                      (click)="changeDaysInWeek(day.identifier, FORMAT_HOUR)">
                      {{ day.value }}
                    </span>
                    <span *ngIf="day.isSelected" class="days-in-week-selected"
                      (click)="changeDaysInWeek(day.identifier, FORMAT_HOUR)">
                      {{ day.value }}
                    </span>
                  </div>
                  <div [hidden]="scheduleGroup.get('formatSelect').value === FORMAT_HOUR" *ngFor="let day of fho_week"
                    class="day-value">
                    <span class="days-in-week-disabled"> {{ day.value }}</span>
                  </div>
                  <div fxFlex></div>
                </div>
              </div>
              <div style="border-bottom: 1px solid dimgray; margin-bottom: 15px; margin-top: 15px;"></div>
              <!-- Format Day -->
              <div fxLayout="row">
                <div fxLayout="row">

                  <usu-radio-button [value]="FORMAT_DAY" [disabled]="disableButtons"
                    style="width: 301px;margin-right: 12px;">
                    {{label_format_day0}}
                  </usu-radio-button>

                      <usu-form-field style="line-height: 15px;width: 49px;margin-bottom: 3px!important;"
                      [attr.status]="((scheduleGroup.controls.fda_startHour.invalid) && (scheduleGroup.controls.fda_startHour.touched)) ? 'error' : '' ">
                        <select slot="input" formControlName="fda_startHour" class="usu-input-active sc-usu-input-h sc-usu-input-s usu-input-filled hydrated usu-input-default"
                          style="width: 71px; padding: 4px;">
                          <option *ngFor="let hour of hoursList" [value]="hour">{{ hour }}</option>
                        </select>
                        <span slot="message"
                        [style.visibility]="((scheduleGroup.controls.fda_startHour.invalid) && (scheduleGroup.controls.fda_startHour.touched)) ? 'visible' : 'hidden'">{{getErrorMessage()}}</span>
                      </usu-form-field>
                     
                   
                  <mat-label class="monthly-label">{{label_format_day1}}</mat-label>

                
                      <usu-form-field style="line-height: 15px;width: 49px;margin-bottom: 3px!important;"
                      [attr.status]="((scheduleGroup.controls.fda_endHour.invalid) && (scheduleGroup.controls.fda_endHour.touched)) ? 'error' : '' ">
                        <select slot="input" formControlName="fda_endHour" class="usu-input-active sc-usu-input-h sc-usu-input-s usu-input-filled hydrated usu-input-default"
                          style="width: 71px; padding: 4px;">
                          <option *ngFor="let hour of hoursList" [value]="hour">{{ hour }}</option>
                        </select>
                        <span slot="message"
                        [style.visibility]="((scheduleGroup.controls.fda_endHour.invalid) && (scheduleGroup.controls.fda_endHour.touched)) ? 'visible' : 'hidden'">{{getErrorMessage()}}</span>
                      </usu-form-field>
                   
                   

                  <mat-label class="monthly-label">{{label_format_day2}}</mat-label>
                </div>
                <div fxLayout="row">
                  <div [hidden]="scheduleGroup.get('formatSelect').value !== FORMAT_DAY" *ngFor="let day of fda_week"
                    class="day-value">
                    <span *ngIf="!day.isSelected" class="days-in-week"
                      (click)="changeDaysInWeek(day.identifier, FORMAT_DAY)">
                      {{ day.value }}
                    </span>
                    <span *ngIf="day.isSelected" class="days-in-week-selected"
                      (click)="changeDaysInWeek(day.identifier, FORMAT_DAY)">
                      {{ day.value }}
                    </span>
                  </div>
                  <div [hidden]="scheduleGroup.get('formatSelect').value === FORMAT_DAY" *ngFor="let day of fda_week"
                    class="day-value">
                    <span class="days-in-week-disabled"> {{ day.value }}</span>
                  </div>
                  <div fxFlex></div>
                </div>
                <div fxFlex></div>
              </div>
              <div style="border-bottom: 1px solid dimgray; margin-bottom: 15px; margin-top: 15px;"></div>
              <!-- Format Month -->
              <div fxLayout="row">
                <div fxLayout="row">

                  <usu-radio-button [value]="FORMAT_MONTH" [disabled]="disableButtons" style="margin-right: 12px;">
                    {{label_format_month0}}
                  </usu-radio-button>
                  
                      <usu-form-field style="line-height: 15px;width: 49px;margin-bottom: 3px!important;"
                      [attr.status]="((scheduleGroup.controls.fmo_dayOfMonth.invalid) && (scheduleGroup.controls.fmo_dayOfMonth.touched)) ? 'error' : '' ">
                        <select slot="input" formControlName="fmo_dayOfMonth" class="usu-input-active sc-usu-input-h sc-usu-input-s usu-input-filled hydrated usu-input-default"
                          style="width: 71px; padding: 4px;">
                          <option *ngFor="let day of daysList" [value]="day">{{ day }}</option>
                        </select>
                        <span slot="message"
                        [style.visibility]="((scheduleGroup.controls.fmo_dayOfMonth.invalid) && (scheduleGroup.controls.fmo_dayOfMonth.touched)) ? 'visible' : 'hidden'">{{getErrorMessage()}}</span>
                      </usu-form-field>
                  

                  <mat-label class="monthly-label" style="width: 175px;">{{label_format_month1}}</mat-label>

                
                      <usu-form-field style="line-height: 15px;width: 49px;margin-bottom: 3px!important;"
                      [attr.status]="((scheduleGroup.controls.fmo_dayOfMonth.invalid) && (scheduleGroup.controls.fmo_dayOfMonth.touched)) ? 'error' : '' ">
                        <select slot="input" formControlName="fmo_startHour" class="usu-input-active sc-usu-input-h sc-usu-input-s usu-input-filled hydrated usu-input-default"
                          style="width: 71px; padding: 4px;">
                          <option *ngFor="let hour of hoursList" [value]="hour">{{ hour }}</option>
                        </select>
                        <span slot="message"
                        [style.visibility]="((scheduleGroup.controls.fmo_dayOfMonth.invalid) && (scheduleGroup.controls.fmo_dayOfMonth.touched)) ? 'visible' : 'hidden'">{{getErrorMessage()}}</span>
                      </usu-form-field>
                      
                   
                  <mat-label class="monthly-label">{{label_format_month2}}</mat-label>

                
                      <usu-form-field style="line-height: 15px;width: 49px;margin-bottom: 3px!important;"
                      [attr.status]="((scheduleGroup.controls.fmo_endHour.invalid) && (scheduleGroup.controls.fmo_endHour.touched)) ? 'error' : '' ">
                        <select slot="input" formControlName="fmo_endHour" class="usu-input-active sc-usu-input-h sc-usu-input-s usu-input-filled hydrated usu-input-default"
                          style="width: 71px; padding: 4px;">
                          <option *ngFor="let hour of hoursList" [value]="hour">{{ hour }}</option>
                        </select>
                        <span slot="message"
                        [style.visibility]="((scheduleGroup.controls.fmo_endHour.invalid) && (scheduleGroup.controls.fmo_endHour.touched)) ? 'visible' : 'hidden'">{{getErrorMessage()}}</span>
                      </usu-form-field>
                      
                   

                  <mat-label class="monthly-label">{{label_format_month3}}</mat-label>
                </div>
                <div fxFlex></div>
              </div>

            </usu-radio-button-group>
          </div>
          <div>
            <div fxFlex></div>
            <usu-button [disabled]="!scheduleGroup.valid || noDaySelect" class="hydrated smartcollect"
              (click)="validateSchedule()" fxFlexAlign="right" aria-label="Cancel button"> {{"LABEL_SAVE" | translate}}
            </usu-button>


            <usu-button class="hydrated smartcollect" (click)="applySchedule()" style="margin-left: 11px;"
              fxFlexAlign="right" aria-label="Cancel button"> {{"LABEL_APPLY" | translate}}
            </usu-button>

          </div>
        </form>
      </mat-accordion>
    </div>
  </div>
</div>

<app-wait class="flexParent" *ngIf="!displayed"></app-wait>