
.frequency-label {
    width: 480px !important;
    margin-right: 15px;
  }
  
  .frequency-slider {
    //width: 500px;
  }
  
  .frequency-minmax-value {
    margin: 0 15px;
  }
  .mat-accent .mat-slider-thumb-label {
    background-color: var(--usu-button-primary-background, #004f9f)!important;
}
  